<!--/* hero.html */-->
<div data-sly-use.model="com.adobe.aem.guides.wknd.core.models.HeroModel"
     data-sly-use.button="com.adobe.cq.wcm.core.components.models.Button"
     data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-test.description="${model.description}"
     class="cmp-model">

    <!--/* Hero's title */-->
    <h1 class="cmp-model-title" data-sly-element="${model.type}">${model.title}</h1>

    <div class="cmp-model-data">

        <!--/* Hero's description and button */-->
        <div class="cmp-model-data__des-btn">
            <div class="cmp-model-data__des">
                <p class="cmp-model-data__des--description" data-sly-unwrap="${model.textIsRich}">
                    ${ description @ context = model.textIsRich ? 'html' : 'text' }
                </p>
            </div>

            <div class="cmp-model-data__btn">
                <button type="button" class="cmp-model-data__btn--button" data-sly-include="button.html">
                    <span class="cmp-model-data__btn--button__text" data-sly-test="${button.title}">${button.title} </span>
                </button>
            </div>
        </div>

        <!--/* Hero's image */-->
        <div class="cmp-model-data__img">
            <a href="${model.linkURL}" target="${model.linkTarget}">
                <img class="cmp-model-data__img--image" src="${model.imageReference}"/>
            </a>
        </div>
    </div>

</div>