/* Default lf_hero component basic Styles */
.cmp-model {
    display: flex;
    width: auto;
    height: 400px;
    display: flex;
    flex-wrap: wrap;

    .cmp-model-title {
        width: 100%;
        height: 70px;
        display: flex;
        margin: auto;

        .cmp-model-title__title {
            font-size: $font-size-medium;
            font-family: $font-family-serif;
            margin: auto;
        }
    }

    .cmp-model-data {
        width: 100%;
        height:330px;
        display: flex;
        margin-top: 20px;
        align-items: flex-start;
        margin-left: 100px;
        margin-right: 100px;

        .cmp-model-data__ {
            width: 50%;
            height: 330px;
            display: block;

            .cmp-model-data__description {
                width: 100%;
                height: 190px;
                margin-bottom: 20px;

                .cmp-model-data__description--desc {
                    color: $gray;
                    font-size: 18px;
                    width: 100%;
                    height: 100%;
                    margin: 0 0 9pt;
                    line-height: 2;
                    display: flex;
                    align-items: flex-start;
                    text-align: justify;
                }
            }

            .cmp-model-data__button {
                height: 100px;
                display: flex;
                justify-content: center;

                .cmp-model-data__button--btn {
                    width: 180px;
                    height: 50px;
                    border-radius: 10px;
                    border: none;
                    background-color: darkgray;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    transition: all 0.5s;
                    cursor: pointer;

                    .cmp-button__text {
                        color: white;
                    }
                }
            }
        }

        .cmp-model-data__image {
            width: 50%;
            height: 310px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;

            /* This class targets a Core Component Image CSS class */
            .cmp-model-data__image--img {
                width: 100%;
                height: 310px;
                object-fit: cover;
                margin: auto;
            }
        }
    }
}

/* Add switch image of side lf_hero component Styles */
.cmp-image--switchside {

    .cmp-model {
        display: flex;
        width: auto;
        height: 400px;
        display: flex;
        flex-wrap: wrap;

        .cmp-model-title {
            width: 100%;
            height: 70px;
            display: flex;
            margin: auto;

            .cmp-model-title__title {
                font-size: $font-size-medium;
                font-family: $font-family-serif;
                margin: auto;
            }
        }

        .cmp-model-data {
            width: 100%;
            height:330px;
            display: flex;
            margin-top: 20px;
            align-items: flex-start;
            margin-left: 100px;
            margin-right: 100px;
            flex-direction: row-reverse;

            .cmp-model-data__ {
                width: 50%;
                height: 330px;
                display: block;

                .cmp-model-data__description {
                    width: 100%;
                    height: 190px;
                    margin-bottom: 20px;

                    .cmp-model-data__description--desc {
                        color: $gray;
                        font-size: 18px;
                        width: 100%;
                        height: 100%;
                        margin: 0 0 9pt;
                        line-height: 2;
                        display: flex;
                        align-items: flex-start;
                        text-align: justify;
                    }
                }

                .cmp-model-data__button {
                    height: 100px;
                    display: flex;
                    justify-content: center;

                    .cmp-model-data__button--btn {
                        width: 180px;
                        height: 50px;
                        border-radius: 10px;
                        border: none;
                        background-color: darkgray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        transition: all 0.5s;
                        cursor: pointer;

                        .cmp-button__text {
                            color: white;
                        }
                    }
                }
            }

            .cmp-model-data__image {
                width: 50%;
                height: 310px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;

                /* This class targets a Core Component Image CSS class */
                .cmp-model-data__image--img {
                    width: 100%;
                    height: 310px;
                    object-fit: cover;
                    margin: auto;
                }
            }
        }
    }

}